<article id={{artistList.id}}>
	{{#link-to artistList.page}}<img src="{{artistList.image}}">{{/link-to}}<br>
	<h3>{{#link-to artistList.page}}{{artistList.title}}{{/link-to}}</h3>
	<p class="about">{{artistList.about}}</p>
	<p>Website: <a href={{artistList.link}} target="_blank">{{artistList.link}}</a></p>
</article>	
{{yield}}
