<article id={{berlinGallery.id}}>
	<img src="{{berlinGallery.image}}" alt="{{berlinGallery.caption}}"><br>
	<h3>{{berlinGallery.imgname}}</h3>
	<p class="about">{{berlinGallery.info}}</p>
</article>	
{{yield}}


