<div class="artist-page">

  <h2>Sarah Abbott</h2>
  <p>{{#link-to 'venues'}}The Joinery SE Woodstock, PDX{{/link-to}}<br>
  April, 2018</p>


<div class="artist-thumbs">
    <div class="row auto-clear">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/abbott/abbott-1.jpg" data-lightbox="abbott-group" data-title=""}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/abbott/abbott-10.jpg" data-lightbox="abbott-group" data-title=""}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/abbott/abbott-11.jpg" data-lightbox="abbott-group" data-title=""}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/abbott/abbott-14.jpg" data-lightbox="abbott-group" data-title=""}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/abbott/abbott-15.jpg" data-lightbox="abbott-group" data-title=""}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/abbott/abbott-16.jpg" data-lightbox="abbott-group" data-title=""}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/abbott/abbott-17.jpg" data-lightbox="abbott-group" data-title=""}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/abbott/abbott-18.jpg" data-lightbox="abbott-group" data-title=""}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/abbott/abbott-19.jpg" data-lightbox="abbott-group" data-title=""}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/abbott/abbott-2.jpg" data-lightbox="abbott-group" data-title=""}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/abbott/abbott-20.jpg" data-lightbox="abbott-group" data-title=""}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/abbott/abbot4.jpg" data-lightbox="abbott-group" data-title=""}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/abbott/abbott-8.jpg" data-lightbox="abbott-group" data-title=""}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/abbott/abbott-9.jpg" data-lightbox="abbott-group" data-title=""}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/abbott/abbott-7.jpg" data-lightbox="abbott-group" data-title=""}}
        </div>
    </div>
</div>
<h2>About Sarah Abbott</h2>
<p>Sarah Abbott is a multi-disciplinary artist living and working in Portland Oregon. She earned her BA from San Francisco State University and her MFA from Pacific Northwest College of Art where she was elected President of the Visual Studies program, as well as the graduate representative for the Board of Governors. She is co-founder of FO(u)RT, an interdisciplinary art collective dedicated to collaboration and critical discourse. Her art practice is propelled by exploring the complexities and idiosyncrasies of her home—her corner of the world. 
Abbott currently exhibits locally and nationally.</p>



<p>Website: <a href="http://sarahabbott-art.com/" target="_blank">http://sarahabbott-art.com/</a><br>
Instagram: <a href="https://www.instagram.com/sarahabbottart/" target="_blank">@sarahabbottart</a></p>

</div>
{{artist-page-nav}}

{{outlet}}
