<div class="artist-page">
  <h2>Johnny Beaver</h2>
  <p>{{#link-to 'venues'}}Red Fox{{/link-to}}<br>
  5128 N Albina<br>
  August 2017</p>


  <div class="artist-thumbs">
      <div class="row auto-clear">
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/beaver/blendingin.jpg" data-lightbox="beaver-group" data-title="A Failed Attempt at Blending In"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/beaver/feedingthebloodless.jpg" data-lightbox="beaver-group" data-title="Feeding the Bloodless"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/beaver/rivercopter.jpg" data-lightbox="beaver-group" data-title="River-Copter"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/beaver/thehiddencostofbeinghidden.jpg" data-lightbox="beaver-group" data-title="The Hidden Cost of Being Hidden"}}
          </div>
      </div>
  </div>
<h3>Artist Bio</h3>
<p>Born in California, raised in Oregon, fermented in Florida; Johnny Beaver has spent the last 18 years practicing everything from web and graphic design, music composition and production, instrument / effect design, photography, sculpture, and more. Primarily focused on conceptual art and painting, he lives, works, and exhibits in the state of Oregon.
</p>


  <p>Website: <a href="hhttp://www.johnnybeaverart.com/">http://www.johnnybeaverart.com/</a><br>
  Instagram: <a href="https://www.instagram.com/johnnybeaverart/">@johnnybeaverart</a></p>

</div>
{{artist-page-nav}}

{{outlet}}
