<div class="artist-page">
  <h2>Johnny Beaver</h2>
  <p>{{#link-to 'venues'}}Red Fox{{/link-to}}<br>
  5128 N Albina<br>
  August 2017</p>


  <div class="artist-thumbs">
      <div class="row auto-clear">
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/beaver/earphonepeople_16.jpg" data-lightbox="beaver-group" data-title="Earphone People"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/beaver/feeding_the_bloodless_s_17.jpg" data-lightbox="beaver-group" data-title="Feeding the Bloodless"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/beaver/firstbreach_17.jpg" data-lightbox="beaver-group" data-title="First Breach"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/beaver/millions_of_peaches_16.jpg" data-lightbox="beaver-group" data-title="Millions of Peaches"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/beaver/provision_16.jpg" data-lightbox="beaver-group" data-title="Provision"}}
          </div>
      </div>
  </div>
<h3>Statement</h3>
<p>My general body of work often dwells on topics of mental illness, memory, and juxtaposition. Specifically, the paintings here exert force in an ongoing struggle with the mind-body paradigm, re-imagining the human figure and its surroundings as something concocted from parts body, matter, thought, feeling, and circumstance equally. This stimulates authenticity and clarity in the connections I make between my impressions of people, objects, experiences, and their depictions. As a person with a memory punched full of holes, it also helps fill in the blanks with utility and purpose. The prioritization of nuance in identifying oneself is paramount in my practice; the way I record, preserve and access my own history being a large part of that.</p>

<h3>Artist Bio</h3>
<p>Johnny Beaver is an interdisciplinary artist living in the Willamette Valley. His practice is underscored by painting and conceptualism, but includes sound design, poetry, music composition, electronics, and video. His work focuses on narratives of human experience, the development of personal creative language, and the study of abstraction.
</p>


  <p>Website: <a href="hhttp://www.johnnybeaverart.com/">http://www.johnnybeaverart.com/</a><br>
  Instagram: <a href="https://www.instagram.com/johnnybeaverart/">@johnnybeaverart</a></p>

</div>
{{artist-page-nav}}

{{outlet}}
