<div class="artist-page">

  <h2>Subarna Taldukder Bose</h2>
  <p>{{#link-to 'venues'}}Red Fox Bar, PDX{{/link-to}}<br>
  April, 2018<br>
  5128 N Albina, Portland OR, 97217</p>


<div class="artist-thumbs">
    <div class="row auto-clear">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/bose/enoughtoknow01.jpg" data-lightbox="bose-group" data-title=""}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/bose/enoughtoknow02.jpg" data-lightbox="bose-group" data-title=""}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/bose/enoughtoknow03.jpg" data-lightbox="bose-group" data-title=""}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/bose/enoughtoknow04.jpg" data-lightbox="bose-group" data-title=""}}
        </div>
    </div>
</div>
<h2>Artist Statement</h2>
<p>Art has always been a medium I have felt deeply about but the more serious choice of taking art professionally happened two years ago when I moved to USA from India. My art is my exploration of the consciousness and its place in the universe. My ideas are essentially rooted in The Upanishads, the great book of Indian wisdom composed thousands of years ago. Through patterns and figurative I try to simplify the microcosm in the macrocosm.</p>

​
<h2>Biography</h2>
<p>Subarna is originally from Calcutta, India. She has recently exhibited her art in various exhibitions across Corvallis. Before coming to US in 2015 she worked as a journalist in India for five years. She holds a BA in English Literature and a PG Dip in Journalism. She volunteers at Corvallis Arts Center and OSU Folk Club.</p>

<p>Website: <a href="https://subarnatalbose.wixsite.com/subarna" target="_blank">https://subarnatalbose.wixsite.com/subarna</a></p>

</div>
{{artist-page-nav}}

{{outlet}}
