<div class="artist-page">

  <h2>Kristin Casaletto</h2>
  <p>{{#link-to 'venues'}}Clickerbox, Inc.{{/link-to}}<br>
  May-June, 2018<br>
  Portland OR</p>


<div class="artist-thumbs">
    <div class="row auto-clear">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/casaletto/campfire.jpg" data-lightbox="casaletto-group" data-title=""}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/casaletto/emeraldcity_crop.jpg" data-lightbox="casaletto-group" data-title=""}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/casaletto/geometricwood.jpg" data-lightbox="casaletto-group" data-title=""}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/casaletto/mountainbreeze_1.jpg" data-lightbox="casaletto-group" data-title=""}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/casaletto/mountaingusts_2.jpg" data-lightbox="casaletto-group" data-title="PCMZ"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/casaletto/splitlandscape_crp.jpg" data-lightbox="casaletto-group" data-title=""}}
        </div>
    </div>
</div>

<h2>About Kristin Casaletto</h2>
<p>Kristin Casaletto is a freelance graphic designer, illustrator, artist and woodworker in Portland, Oregon. 
She specializes in branding &amp; beverage packaging, but has worked with a wide variety of clients for over 15 years. </p>

<p>Casaletto is founder of Portland-based company, The Prohibition Co., specializing in branding and packaging for the craft beverage and food industries.
</p>

<p>Website: <a href="hhttp://www.kcasaletto.com/" target="_blank">http://www.kcasaletto.com</a></p>

</div>
{{artist-page-nav}}

{{outlet}}
