<div class="artist-page">
  <h2>W. S. Cranmore</h2>
  <p>{{#link-to 'venues'}}Red Fox{{/link-to}}<br>
  5128 N Albina<br>
  September 2017</p>

<!-- <img src="/assets/images/cranmore/echoes.jpg"> -->
<p>Every Voice That Echoes</p>

  <div class="artist-thumbs">
      <div class="row auto-clear">
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/cranmore/cranmore01.jpg" data-lightbox="cranmore-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/cranmore/cranmore03.jpg" data-lightbox="cranmore-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
           {{light-box href="/assets/images/cranmore/cranmore04.jpg" data-lightbox="cranmore-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/cranmore/cranmore05.jpg" data-lightbox="cranmore-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/cranmore/cranmore06.jpg" data-lightbox="cranmore-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/cranmore/cranmore07.jpg" data-lightbox="cranmore-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/cranmore/cranmore08.jpg" data-lightbox="cranmore-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/cranmore/cranmore09.jpg" data-lightbox="cranmore-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/cranmore/cranmore10.jpg" data-lightbox="cranmore-group" data-title=""}}
          </div>
      </div>
  </div>



 <h3>Artist statement</h3>

<p>"From Reid To Queen House" is my first solo showing and a culmination of life experiences.  The designs, patterns, colors, and titles of the pieces presented absolutely  spring from memories spanning from growing up up on Reid Rd. in Flint MI to life today at Queen House in Portland.</p>
<p>Abstract is a fantastic genre that I very much enjoy, but for me, it all comes from memories.  I hope you enjoy the exhibition and thank you!</p>


<h3>Artist Bio</h3>

<p>W.S. Cranmore began painting in 2012.  He was given an acrylic paint start up kit by his wife, who knew he needed a new passion since he stopped playing in bands.  Fast forward to 2017, W.S. Cranmore has created over 60 paintings, sold works internationally, and has shown in two art shows.  Including a solo showing.
When he works, W.S. Cranmore combines music with first instinct.  He begins each piece only when instinct tells him it is time.  He has no pre-planned ideas for the design or colors and allows first instinct to dictate.  He creates to the flow of the music playing and lets it influence the work.  Almost alway, the finished work is as much of a surprise to him as it is to anyone.  Titles of the paintings come from writings of his, or memories of profound experiences.</p>
<p>Additionally, when not painting, W.S. Cranmore works for the Portland non profit, New Avenues For Youth, where he works with homeless and at-risk youth, teaching them employable soft skills so they can exit street life.  He is a husband, a father, a brother, and a son, and he enjoys, writing and music.</p>

  <p>Website: <a href="https://www.artfinder.com/ws_cranmore">https://www.artfinder.com/ws_cranmore</a><br>
  Instagram: <a href="https://www.instagram.com/ws_cranmore/">@ws_cranmore</a></p>

</div>
{{artist-page-nav}}

{{outlet}}
