<div class="artist-page">
  <h2>W. S. Cranmore</h2>
  <p>{{#link-to 'venues'}}Red Fox{{/link-to}}<br>
  5128 N Albina<br>
  September 2017</p>

<img src="/assets/images/cranmore/echoes.jpg">
<p>Every Voice That Echoes</p>
  <!--
  <div class="artist-thumbs">
      <div class="row auto-clear">
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/nelson/leaves.jpg" data-lightbox="nelson-group" data-title="Leaves"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/nelson/liquidsilver.jpg" data-lightbox="nelson-group" data-title="Liquid Silver"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/nelson/ontheedge.jpg" data-lightbox="nelson-group" data-title="On the Edge"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/nelson/white.jpg" data-lightbox="nelson-group" data-title=""}}
          </div>
      </div>
  </div>


 -->
  <p>Website: <a href="https://www.artfinder.com/ws_cranmore">https://www.artfinder.com/ws_cranmore</a><br>
  Instagram: <a href="https://www.instagram.com/ws_cranmore/">@ws_cranmore</a></p>

</div>
{{artist-page-nav}}

{{outlet}}
