<div class="artist-page">
	<h2>Chris Haberman</h2>
	<h3>Run With The Hunted</h3>
	<p>{{#link-to 'venues'}}Red Fox{{/link-to}}<br>
  December 2017<br>
  5128 N Albina, Portland OR, 97217</p>

	<blockquote>
	"My fate:  like the fox, I run with the hunted and if I’m not the happiest man on earth, I’m surely the luckiest man alive."	-- Charles Bukowski
	</blockquote>

	<div class="artist-thumbs">
	    <div class="row auto-clear">
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/haberman/bobafett.jpg" data-lightbox="haberman-group" data-title="Boba Fett Chill Out"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/haberman/blackbetty.jpg" data-lightbox="haberman-group" data-title="Black Betty Ram Jam Leadbelly"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/haberman/theycallmebigpapa.jpg" data-lightbox="haberman-group" data-title="They Call Me Big Papa Smurf"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/haberman/doublewhiskeyginger.jpg" data-lightbox="haberman-group" data-title="Double Whiskey Ginger"}}
	      	</div>
	    </div>
	</div>




	<h3>Biography</h3>
	<p>Chris Haberman is a working painter, writer, muralist, curator and musician, native to Portland, Oregon. Aside from painting, he has published poetry, journalism and fiction; earning awards in journalism and creative writing from Portland State University and is a lifetime member to the Academy of American Poets.</p>

	<p>All of Chris Haberman’s artwork is created recycled objects, found material from the streets and alleyways of his hometown, focusing on subjects like people, politics, the region, pop-culture, media, music, film and literature.</p>

	<p>Portland Mayor Sam Adams said in 2009 that “Chris is the hardest working artist in Portland.” Chris’ first curatorship was a show for Adams in City Hall of Portland, Oregon, (Portland Pride, 2007).  He has also shown art in hundreds of venues, including “Oregon Art Annual” and is a frequent contributor to local artwalks, school fairs and open studio tours.  In July 2012, Chris recorded selling over 10,000 original works since 2001; and he was a feature artist for Oregon Art Beat on OPB and awarded “Portland Artist of the Year” for Barfly Magazine.</p>

	<p>Besides making art, Chris is also a teacher and a fervent freelance curator and arts advocate, coordinating hundreds of Portland art exhibits with regional artists since 2001, founding first a non-profit (Portland City Art, 2009) and then Chris Haberman Presents and The People’s Art of Portland (2009-2016) in Pioneer Place Mall (with fellow artist/curator/buddy, Jason Brown, The Goodfoot), to help local artists show their works.</p>

	<p>In 2011, he illustrated a book with Oregon television icon, K.C. Cowan detailing a humorous selection of Catholic Saints.  In the same year he also completed a 219 wood panel album reproduction for an office mural for record label Kill Rock Stars, and a 100 piece show of about the History of Oregon for Portland State University.  In 2012/2013 he completed a 140 foot mural about “The History of Hawthorne Blvd.” for 50th SE Hawthorne on the Eagles Fraternal Lodge funded by a grant from Regional Arts and Culture Council; and worked as the Art Consultant for TV show Portlandia (Seasons 3, 4 and 5).  In 2014, he helped present the 15th annual Oregon Art Beat exhibition of 350 artists with Oregon Public Broadcasting, and appeared as a working artist on Ovation channel’s reality show, “One Man’s Trash.”  Summer 2015 Chris completed a large-scale outdoor mural for the City of Milwaukie, OR, in partnership with TriMet for the new Orange Line Train line.  Currently he is making a lot of art and having shows, and curating venues in Portland and Milwaukie, Oregon, and volunteering his time with First Friday in Milwaukie as an Milwaukie Arts Council (ArtMOB) member and a curator for Milwaukie businesses.</p>



	<p>Facebook: <a href="https://www.facebook.com/chris.haberman">https://www.facebook.com/chris.haberman</a></p>

</div>
{{artist-page-nav}}

{{outlet}}
