<div class="artist-page">
  <h2>Bryn Harding</h2>
  <p>{{#link-to 'venues'}}Red Fox{{/link-to}}<br>
  November 2017<br>
  5128 N Albina, Portland OR, 97217</p>

  <!-- <img src="/assets/images/harding/reds1024.jpg"> -->

  <div class="artist-thumbs">
      <div class="row auto-clear">
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/harding/places01.jpg" data-lightbox="harding-group" data-title="Places #1"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/harding/places02.jpg" data-lightbox="harding-group" data-title="Places #2"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/harding/places03.jpg" data-lightbox="harding-group" data-title="Places #3"}}
          </div>
      </div>
  </div>

  <h3>Biography</h3>
<p>Bryn Harding (MFA in Print Media, PNCA 2017) is an artists living and working in Portland. The paintings in this show were made after a summer spent behind the wheel and too much time pondering what roads do to landscapes and to our spirits.</p>



  <h3>Statement</h3>
  <h4>Places I have (never) been</h4>
    <div style="padding:20px 80px">
      <p>I am singing along, but<br>
      the stereo is blaring, and<br>
      I don't hear my own voice anymore</p>

      <p>In an air conditioned box<br>
      flying down sunbaked blacktop<br>
      across high desert. I wonder:<br>
      "Is this how the West was won?"
      </p>
    </div>
  <p>Website: <a href="http://www.brynhardingart.com/">http://www.brynhardingart.com/</a></p>

</div>
{{artist-page-nav}}

{{outlet}}
