<div class="artist-page">
  <h2>Bryn Harding</h2>
  <p>{{#link-to 'venues'}}Red Fox{{/link-to}}<br>
  November 2017<br>
  5128 N Albina, Portland OR, 97217</p>

  <!-- <img src="/assets/images/harding/reds1024.jpg"> -->

  <div class="artist-thumbs">
      <div class="row auto-clear">
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/harding/places01.jpg" data-lightbox="harding-group" data-title="Places #1"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/harding/places02.jpg" data-lightbox="harding-group" data-title="Places #2"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/harding/places03.jpg" data-lightbox="harding-group" data-title="Places #3"}}
          </div>
      </div>
  </div>

  <h3>Biography</h3>
  <p>Bryn Harding was born and raised in Oregon. He attended Hamline University in St. Paul, MN from 2006-2010 and later earned an MFA in Printmedia at the Pacific Northwest College of Art in 2017. He is currently living and working in Portland.</p>


  <h3>Statement</h3>
  <p>Places I Have (never) Been is a reflection on the time I have spent driving on freeways and highways. The paintings, photographs, and writings that make up this show were all collected on a series of road trips during the summer of 2016 in Oregon, Idaho, Utah, Arizona and Montana.</p>

  <p>These images explore roads as a technology that simultaneously grant us access to, and alienate us from, landscapes and place. In a larger sense this is true of how all technology functions–connecting, while also separating us from our reality. On a personal level, the images also explore questions about identity and self. I often feel at home and like myself on the road, when I am between places or visiting somewhere new, than when I am in a place that has shaped me. Traveling across the West by car is a quintessentially American experience and the questions raised, about the relationships between technologies, identity, self and place can only be honestly answered by embracing contradiction.
</p>

    <div style="padding:20px 80px">
      <p>I am singing along, but<br>
      the stereo is blaring, and<br>
      I don't hear my own voice anymore</p>

      <p>In an air conditioned box<br>
      flying down sunbaked blacktop<br>
      across high desert. I wonder:<br>
      "Is this how the West was won?"
      </p>
    </div>
  <p>Website: <a href="http://www.brynhardingart.com/">http://www.brynhardingart.com/</a></p>

</div>
{{artist-page-nav}}

{{outlet}}
