<div class="artist-page">

  <h2>Tim Janchar</h2>
  <p>{{#link-to 'venues'}}Red Fox Bar, PDX{{/link-to}}<br>
  March, 2018<br>
  5128 N Albina, Portland OR, 97217</p>


<div class="artist-thumbs">
    <div class="row auto-clear">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/janchar/between_the_lions.jpg" data-lightbox="janchar-group" data-title=""}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/janchar/drain.jpg" data-lightbox="janchar-group" data-title=""}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/janchar/hoxha.jpg" data-lightbox="janchar-group" data-title=""}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/janchar/passed_out_in_doorways.jpg" data-lightbox="janchar-group" data-title="3rd Floor and Passed Out In Doorways"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/janchar/pcmz.jpg" data-lightbox="janchar-group" data-title="PCMZ"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/janchar/rumble_seats_and_running_boards.jpg" data-lightbox="janchar-group" data-title="Rumble Seats Running Boards"}}
        </div>
    </div>
</div>

<h2>About Tim Janchar</h2>
<p>Tim Janchar is a member of Danger Punch, an interdisciplinary artist collective from Portland, Oregon. Simple ideas are taken and collectively developed, both in the conceptual and technical aspect, through a devoted practice rooted in the process of making. Projects are thematically temporal, and aim to create a byproduct of fearless art making.</p>

<p>Website: <a href="http://alotoflittlethings.com/home.html" target="_blank">http://alotoflittlethings.com/home.html</a></p>

</div>
{{artist-page-nav}}

{{outlet}}
