<div class="artist-page">
  <h2>Kim Kress</h2>
  <p>{{#link-to 'venues'}}Red Fox{{/link-to}}<br>
  June 2017<br>
  5128 N Albina, Portland OR, 97217</p>


  <div class="artist-thumbs">
      <div class="row auto-clear">
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/kress/angler.jpg" data-lightbox="kress-group" data-title="Angler"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/kress/beaver.jpg" data-lightbox="kress-group" data-title="Beaver"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/kress/birdskull.jpg" data-lightbox="kress-group" data-title="Bird Skull"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/kress/cat.jpg" data-lightbox="kress-group" data-title="Cat"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/kress/cicada.jpg" data-lightbox="kress-group" data-title="Cicada #1"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/kress/cicadarect.jpg" data-lightbox="kress-group" data-title="Cicada #2"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/kress/cilantro.jpg" data-lightbox="kress-group" data-title="Cilantro"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/kress/dragonfly.jpg" data-lightbox="kress-group" data-title="Dragonfly"}}
          </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/kress/frog.jpg" data-lightbox="kress-group" data-title="Frog"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/kress/goldenbeet.jpg" data-lightbox="kress-group" data-title="Golden Beet"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/kress/heart.jpg" data-lightbox="kress-group" data-title="Heart"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/kress/rabbit.jpg" data-lightbox="kress-group" data-title="Rabbit"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/kress/snake.jpg" data-lightbox="kress-group" data-title="Snake"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/kress/install.jpg" data-lightbox="kress-group" data-title="Installation View at Red Fox"}}
          </div>
      </div>
  </div>

  <h3>Biography</h3>
  <p>Kim Kress is an artist and a tattoo artist. She has been tattooing since 2003, and is the owner of Suite C Tattoo in SE Portland, OR. Kress has an impressive collection of insect specimens and animal bones. She has been doing pyrography (decorative wood burning) for a few years. </p>


  <p>Website: <a href="http://www.SuiteCTattoo.com">http://www.SuiteCTattoo.com</a><br>
  Instagram: <a href="http://instagram.com/kim_kress_tattoo">@Kim_Kress_Tattoo</a></p>

</div>
{{artist-page-nav}}

{{outlet}}
