<div class="artist-page">
	<h2>Brandi Kruse</h2>
	<p>{{#link-to 'venues'}}Flickerbox, Inc., PDX{{/link-to}}<br>
	November 2016
	</p>

	<!-- <p><img src="/assets/images/kruse/bikes1024.jpg"></p> -->

		<div class="artist-thumbs">
	    <div class="row auto-clear">
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/kruse/bottle.jpg" data-lightbox="kruse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/kruse/cake.jpg" data-lightbox="kruse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/kruse/clouds.jpg" data-lightbox="kruse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/kruse/inside-out.jpg" data-lightbox="kruse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/kruse/lamplight.jpg" data-lightbox="kruse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/kruse/bikes.jpg" data-lightbox="kruse-group" data-title="Leaves"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/kruse/constant-variable.jpg" data-lightbox="kruse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/kruse/light_weight.jpg" data-lightbox="kruse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/kruse/loops.jpg" data-lightbox="kruse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/kruse/minor-miracle.jpg" data-lightbox="kruse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/kruse/neue.jpg" data-lightbox="kruse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/kruse/patterns.jpg" data-lightbox="kruse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/kruse/plate.jpg" data-lightbox="kruse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/kruse/roundwindow.jpg" data-lightbox="kruse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/kruse/slant.jpg" data-lightbox="kruse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/kruse/slip.jpg" data-lightbox="kruse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/kruse/stadelschule.jpg" data-lightbox="kruse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/kruse/straw.jpg" data-lightbox="kruse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/kruse/utter.jpg" data-lightbox="kruse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/kruse/water.jpg" data-lightbox="kruse-group" data-title=""}}
	      	</div>
  	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
  				{{light-box href="/assets/images/kruse/impossiblepaper.jpg" data-lightbox="kruse-group" data-title="Impossible Paper Architecture"}}
  	      	</div>
	    </div>
	</div>

	<h2>Artist Bio/Statement</h2>
	<p>Brandi Kruse grew up in Ypsilanti, Michigan and received her BS in Education at Central Michigan University where she studied literature and photography. She moved to Portland, OR in 2008. After teaching high school language arts and studio arts for eight years, she recently graduated with an MFA in Print Media from Pacific Northwest College of Art. In no particular order, she thinks of herself as a teacher, photographer, printmaker, and poet. Her work is dependent on time, light, and reflection and she often questions what is gained and what is lost in this reliance.</p>

	<p>Most of the work Kruse has on display are her photogravure etchings. This intaglio technique maintains fine details, an unparalleled tonal range and contrast, and is perfect for her rich imagery of structure, light, and illusion. Using this analogue process, she returns to the darkroom, where she began as a photographer. In making a photogravure plate, she exposes an image onto fragile, light-sensitive gelatin. Immediately after exposing the gelatin, she gently presses it face down onto a copper plate in cold water. In water just right for a baby’s bath, she watches as the latent image is born, the gelatin dissolving into varying hills and valleys, in some places nearly exposing the copper beneath. Later, the layers of gelatin determine the depth of the etch across the surface of the copper. This haptic process holds itself in stark relief to contemporary digital processes in a way that Kruse finds deeply satisfying. She sees slowing down and heightening awareness in small details as a welcome gift.</p>

	<p>Many of these pieces are part of an ongoing body of work in which excerpts from her photographs are presented as framing devices. This process allows her to elevate the overlooked and question relationships. There is tension to be explored between presence and erasure, past and potential, the tangible and the imagination, the written and the reader.</p>


</div>
{{artist-page-nav}}

{{outlet}}
