<div class="artist-page">
	<h2>A•C•M Lorish</h2>
	<p>{{#link-to 'venues'}}Red Fox{{/link-to}}<br>
	<em>You Said I was Special but Star Pirates Speak in Parables</em><br>
	April 2017<br>
	5128 N Albina, Portland OR, 97217</p>


<h3>Artist Statement</h3>
<p>A•C•M• Lorish presents some new paintings about the mystical forces that dictate our lives without ever fully revealing their intentions. They are also formally about interactions of color. They are also about locations that don't exist on this plain of existence. They are also about love and sex and jazz and food. They are also sort of about me. They are also probably about you.</p>


<h3>Biography</h3>
<p>A•C•M• Lorish was born in Eugene, Oregon. He studied at School of the Art Institute of Chicago, and Pacific Northwest College of Art where in 2013 he received his MFA in Visual Studies. Selected exhibitions include Albatross Gallery in Portland, False Front in Portland, North Bank Gallery in Vancouver, Liberty Arts Center in Yreka,California, Sullivan Gallery in Chicago, Rockerill in Charleroi Belgium, and dOCUMENTA (13) in Kassel, Germany. He is a founding member of the art collective Danger Punch. He lives and works in Portland Oregon.</p>

<div class="artist-thumbs">
	    <div class="row auto-clear">
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
						{{light-box href="/assets/images/lorish/star01.jpg" data-lightbox="star-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
						{{light-box href="/assets/images/lorish/star02.jpg" data-lightbox="star-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
						{{light-box href="/assets/images/lorish/star03.jpg" data-lightbox="star-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
						{{light-box href="/assets/images/lorish/star04.jpg" data-lightbox="star-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
						{{light-box href="/assets/images/lorish/star05.jpg" data-lightbox="star-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
						{{light-box href="/assets/images/lorish/star06.jpg" data-lightbox="star-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
						{{light-box href="/assets/images/lorish/star07.jpg" data-lightbox="star-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
						{{light-box href="/assets/images/lorish/star08.jpg" data-lightbox="star-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
						{{light-box href="/assets/images/lorish/star09.jpg" data-lightbox="star-group" data-title="Solfatara"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
						{{light-box href="/assets/images/lorish/star10.jpg" data-lightbox="star-group" data-title="Solfatara"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
						{{light-box href="/assets/images/lorish/star11.jpg" data-lightbox="star-group" data-title="Solfatara"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
						{{light-box href="/assets/images/lorish/star12.jpg" data-lightbox="star-group" data-title="Solfatara"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
						{{light-box href="/assets/images/lorish/star13.jpg" data-lightbox="star-group" data-title="Solfatara"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
						{{light-box href="/assets/images/lorish/star14.jpg" data-lightbox="star-group" data-title="Solfatara"}}
	      	</div>
	    </div>
	 </div>



<h2>Past Exhibitions</h2>

	<h2>A•C•M Lorish</h2>
	<p>{{#link-to 'venues'}}Flickerbox, Inc., PDX{{/link-to}}<br>
	January 2017<br>
	321 SW 4th, Suite 501, Portland OR</p>

	<!-- <img src="/assets/images/lorish/despair1024.jpg"> -->
	<div class="artist-thumbs">
	    <div class="row auto-clear">
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/lorish/desire.jpg" data-lightbox="lorish-group" data-title="Solfatara: Desire"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/lorish/exclusion.jpg" data-lightbox="lorish-group" data-title="Solfatara: Exclusion"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/lorish/Jealousy.jpg" data-lightbox="lorish-group" data-title="Solfatara: Jealousy"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/lorish/despair1024.jpg" data-lightbox="lorish-group" data-title="Solfatara: Despair"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/lorish/lax.jpg" data-lightbox="lorish-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/lorish/abs1.jpg" data-lightbox="lorish-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/lorish/abs2.jpg" data-lightbox="lorish-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/lorish/abs3.jpg" data-lightbox="lorish-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/lorish/collection.jpg" data-lightbox="lorish-group" data-title="Solfatara"}}
	      	</div>
	    </div>
	 </div>

	<h3>Solfatara: Paintings Celebrating Demons and Other Things</h3>

	<blockquote>The demonic life of a lover is like the surface of a solfatara; huge bubbles (muddy and scorching) burst, one after the other; when one falls back and dies out, returning to the mass, another forms and swells further on.<br><br>-Roland Barthes</blockquote>



	<p>Taken from a short section of Roland Barthes A Lovers Discourse these six paintings celebrate, with glitter puff paint, the demons that hide in the recesses and shadows, always lurking and waiting.  The other paintings are abstracted structures, layered with syncopated marks, meant to create order and calm acting as a way to foil or control the demons. </p>

	<h3>Biography</h3>
	<p>A•C•M• Lorish was born in Eugene, Oregon.  He studied at School of the Art Institute of Chicago, and Pacific Northwest College of Art where in 2013 he received his MFA in Visual Studies.  Selected exhibitions include False Front in Portland, Rockerill in Charleroi Belgium, and dOCUMENTA (13) in Kassel, Germany.  He is a founding member of the art collective Danger Punch.  He lives and works in Portland Oregon.</p>

	<p>Websites: <a href="http://www.acmlorish.com">acmlorish.com</a><br>
	<a href="http://www.dangerpunch.com">Danger Punch Collective</a></p>

</div>
{{artist-page-nav}}

{{outlet}}
