<div class="artist-page">

	<h2>Kanani Miyamoto</h2>
	<p>{{#link-to 'venues'}}Flickerbox, Inc., PDX{{/link-to}}<br>
		May 2017</p>

	<div class="artist-thumbs">
	    <div class="row auto-clear">
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/miyamoto/thesis2.jpg" data-lightbox="miyamoto-group" data-title="Dorothy Lemelson Studio Installation 2016"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/miyamoto/grandfather.jpg" data-lightbox="miyamoto-group" data-title="Grandfather"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/miyamoto/mfa_print.jpg" data-lightbox="miyamoto-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/miyamoto/pdxbldg.jpg" data-lightbox="miyamoto-group" data-title="Portland Building Installation 2016"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/miyamoto/pdxbldg2.jpg" data-lightbox="miyamoto-group" data-title="Portland Building Installation 2016"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/miyamoto/redcreature.jpg" data-lightbox="miyamoto-group" data-title="Red Creature"}}
	      	</div>
	    </div>
	</div>
</div>
<h2>Artist Statement</h2>
<p>Kanani Miyamoto is a passionate printmaker while her education has been rooted in the traditional practices of printmaking, her studio practice has recently expanded to non-traditional forms of printmaking including mixed media original prints, sculpture, installation, and animation. Her current work is inspired by her personal experiences as an individual of mixed heritage as well as life growing up in Honolulu. Issues of cultural and personal identity have been a major them in her work. She is originally from Honolulu, Hawai`i and is currently lives in Portland, Oregon.</p>
<p>Instagram: <a href="https://www.instagram.com/mamakanani/" target="_blank">@mamakanani</a></p>

<br>

{{artist-page-nav}}

{{outlet}}
