<div class="artist-page">

	<h2>Kanani Miyamoto</h2>
	<p>{{#link-to 'venues'}}Flickerbox, Inc., PDX{{/link-to}}<br>
		May 2017</p>


	<div class="artist-thumbs">
	    <div class="row auto-clear">
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/miyamoto/thesis2.jpg" data-lightbox="miyamoto-group" data-title="Dorothy Lemelson Studio Installation 2016"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/miyamoto/grandfather.jpg" data-lightbox="miyamoto-group" data-title="Grandfather"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/miyamoto/mfa_print.jpg" data-lightbox="miyamoto-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/miyamoto/pdxbldg.jpg" data-lightbox="miyamoto-group" data-title="Portland Building Installation 2016"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/miyamoto/pdxbldg2.jpg" data-lightbox="miyamoto-group" data-title="Portland Building Installation 2016"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/miyamoto/redcreature.jpg" data-lightbox="miyamoto-group" data-title="Red Creature"}}
	      	</div>
	    </div>
	</div>
</div>

<br>

{{artist-page-nav}}

{{outlet}}
