<div class="artist-page">

  <h2>M. V. Moran</h2>
  <p>{{#link-to 'venues'}}Akemi Salon, PDX{{/link-to}}<br>
  April, 2018<br>
  3808 N Williams, Portland OR, 97217</p>


<div class="artist-thumbs">
    <div class="row auto-clear">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/moran/detail_allbutgone.jpg" data-lightbox="moran-group" data-title="All But Gone (Detail)"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/moran/detail_friedeggs.jpg" data-lightbox="moran-group" data-title="Fried Eggs (Detail)"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/moran/far_above.jpg" data-lightbox="moran-group" data-title="Far Above"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/moran/friedeggswithasideofgrief.jpg" data-lightbox="moran-group" data-title="Fried Eggs With A Side of Grief"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/moran/remember.jpg" data-lightbox="moran-group" data-title="Remember"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/moran/remember_ii_or_dont_forget.jpg" data-lightbox="moran-group" data-title="Remember II Or Don't Forget"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/moran/thekitchenpearwife.jpg" data-lightbox="moran-group" data-title="The Kitchen Pear Wife"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/moran/thekitchenpearwifesquared.jpg" data-lightbox="moran-group" data-title="The Kitchen Pear Wife, Squared"}}
        </div>
    </div>
</div>
<h2>About M. V. Moran</h2>
<p>​M.V. Moran is a process artist and believes in the practice of making. She focuses on drawing and painting as the foundation to all of her work. Moran earned her MFA in Visual Studies from Pacific Northwest College of Art, Portland, Oregon in 2016 and a BFA in Painting from the University of Oregon, Eugene, Oregon in 1999. Moran works in Eugene, Oregon.</p>

​

<p>Website: <a href="http://www.mvmoran.com/" target="_blank">http://www.mvmoran.com/</a><br>
Instagram: <a href="https://www.instagram.com/m.v.moran/" target="_blank">@m.v.moran</a></p>

</div>
{{artist-page-nav}}

{{outlet}}
