<div class="artist-page">

	<h2>Bertrand Morin</h2>
	<p>July 2016<br>
	Flickerbox, Inc.<br>
	Portland Oregon<br>
	Contact Alanna for Viewing Appointments</p>

	<!-- <img src="/assets/images/morin/planetoid10_1024.jpg"> -->

	<div class="artist-thumbs">
	    <div class="row auto-clear">
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/morin/planetoid01.jpg" data-lightbox="morin-group" data-title="Planetoid 001"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/morin/planetoid02.jpg" data-lightbox="morin-group" data-title="Planetoid 002"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/morin/planetoid03.jpg" data-lightbox="morin-group" data-title="Planetoid 003"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/morin/planetoid04.jpg" data-lightbox="morin-group" data-title="Planetoid 004"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/morin/planetoid05.jpg" data-lightbox="morin-group" data-title="Planetoid 005"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/morin/planetoid06.jpg" data-lightbox="morin-group" data-title="Planetoid 006"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/morin/planetoid07.jpg" data-lightbox="morin-group" data-title="Planetoid 007"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/morin/planetoid08.jpg" data-lightbox="morin-group" data-title="Planetoid 008"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/morin/planetoid09.jpg" data-lightbox="morin-group" data-title="Planetoid 009"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/morin/planetoid10.jpg" data-lightbox="morin-group" data-title="Planetoid 010"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/morin/planetoid11.jpg" data-lightbox="morin-group" data-title="Planetoid 011"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/morin/planetoid12.jpg" data-lightbox="morin-group" data-title="Planetoid 012"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/morin/planetoid13.jpg" data-lightbox="morin-group" data-title="Planetoid0 13"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/morin/planetoid14.jpg" data-lightbox="morin-group" data-title="Planetoid 014"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/morin/planetoid17.jpg" data-lightbox="morin-group" data-title="Planetoid 017"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/morin/planetoid20.jpg" data-lightbox="morin-group" data-title="Planetoid 020"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/morin/planetoid21.jpg" data-lightbox="morin-group" data-title="Planetoid 021"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/morin/planetoid23.jpg" data-lightbox="morin-group" data-title="Planetoid 023"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/morin/planetoid26.jpg" data-lightbox="morin-group" data-title="Planetoid 026"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/morin/planetoid27.jpg" data-lightbox="morin-group" data-title="Planetoid 027"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/morin/planetoid28.jpg" data-lightbox="morin-group" data-title="Planetoid 028"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/morin/planetoid33.jpg" data-lightbox="morin-group" data-title="Planetoid 033"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/morin/planetoid34.jpg" data-lightbox="morin-group" data-title="Planetoid 034"}}
	      	</div>
	    </div>
	</div>

	<h3>Statement</h3>
	<p>In my work I use a combination of photographic processes and text to transform ordinary objects and places into strange and bizarre pseudoscientific entities. The subjects of the images are separated from their original context by the physical act of collection and removal, or by careful photographic composition. They are then recombined and cataloged with one another to form new relationships, vocabularies, networks of meaning, and narrative links. The transformation of images and objects is intended to undermine the ways that organizational systems, methods of display, and the truth value assigned to facts and histories mask authorship, ideologies, and limit individual perception. The work is narrative and intended to deeply engage viewers' imaginations through its fantastical, humorous, and sometimes disquieting content. Viewers are left to follow subtle clues and connections to form their own unique links between the images and text. Observation is the backbone of my creative process. I use written and photographic observations as the foundation for the creation of fictional characters, alternate worlds, and illogical anthropologies. The various levels of obfuscation and revelation that the text and images provide for viewers is intended to place my work in a limbo between truth and fiction, and to bend the line between historical archive and pseudoscientific farce.</p>


	<p>Website: <a href="http://bertrandmorin.net/" target="_blank">BertrandMorin.net</a></p>

</div>
{{artist-page-nav}}


{{outlet}}
