<div class="artist-page">
	<h2>Rachel Mulder</h2>
	<p>{{#link-to 'venues'}}Flickerbox, Inc., PDX{{/link-to}}<br>
	February 2017<br>
	Opening Reception: February 16th 7-10pm<br>
	321 SW 4th, Suite 501, Portland OR<br>
	Please note, this is a private office space, no drop-ins.<br>
	contact me for viewing appointments</p>

<div class="artist-thumbs">
    <div class="row auto-clear">
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/mulder/onthefloor.jpg" data-lightbox="mulder-group" data-title="On The Floor"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/mulder/somanytimes.jpg" data-lightbox="mulder-group" data-title="So Many Times"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/mulder/duo.jpg" data-lightbox="mulder-group" data-title="Duo"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/mulder/shadowshadow.jpg" data-lightbox="mulder-group" data-title="Shadow Shadow"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/mulder/outline.jpg" data-lightbox="mulder-group" data-title="Outline"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/mulder/collection.jpg" data-lightbox="mulder-group" data-title="Collection"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/mulder/jamond.jpg" data-lightbox="mulder-group" data-title="Jamond"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/mulder/kierre.jpg" data-lightbox="mulder-group" data-title="Kiere"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/mulder/michael.jpg" data-lightbox="mulder-group" data-title="Michael"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/mulder/cyan.jpg" data-lightbox="mulder-group" data-title="Cyan"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/mulder/michelle.jpg" data-lightbox="mulder-group" data-title="Michelle"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/mulder/nervoushands.jpg" data-lightbox="mulder-group" data-title="Nervous Hands"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/mulder/nic.jpg" data-lightbox="mulder-group" data-title="Nic"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{#light-box href="/assets/images/mulder/carissa.jpg" data-lightbox="mulder-group" data-title="Carissa"}}
			{{/light-box}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/mulder/preciouscargo.jpg" data-lightbox="mulder-group" data-title="Precious Cargo"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/mulder/selfportrait1.jpg" data-lightbox="mulder-group" data-title="Self Portrait"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/mulder/selfportrait1024.jpg" data-lightbox="mulder-group" data-title="Self Portrait V"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/mulder/sisters.jpg" data-lightbox="mulder-group" data-title="Sisters"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/mulder/thom.jpg" data-lightbox="mulder-group" data-title="Thom"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/mulder/topheavy.jpg" data-lightbox="mulder-group" data-title="Top Heavy"}}
      	</div>
    </div>
</div>

	<h3>Artist Bio:</h3>
	<p>Rachel Mulder earned her BFA in Printmaking from the Milwaukee Institute of Art &amp; Design and has since adapted those printmaking techniques and processes into other art forms, namely drawing. She has been an art-assistant/direct care worker, helping others make art based on their individual desires as well as in workshop settings, and is currently teaching Experimental Drawing for local nonprofit <a href="http://www.publicannex.org/">Public Annex</a>. She is a Midwestern native and lives and works in Portland, Oregon.</p>


	<p>Website: <a href="https://rachelmulderart.blogspot.com/">rachelmulderart.blogspt.com</a></p>

</div>
{{artist-page-nav}}
{{outlet}}
