<div class="artist-page">

  <h2>Julia Oldham</h2>
  <p>July 2017<br>
  {{#link-to 'venues'}}Red Fox{{/link-to}}<br>
  5128 N Albina, Portland OR</p>


<div class="artist-thumbs">
      <div class="row auto-clear">
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/oldham/wreath.jpg" data-lightbox="oldham-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/oldham/dance.jpg" data-lightbox="oldham-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/oldham/howl.jpg" data-lightbox="oldham-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/oldham/tail.jpg" data-lightbox="oldham-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/oldham/whale.jpg" data-lightbox="oldham-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/oldham/waterspirits.jpg" data-lightbox="oldham-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/oldham/dolphin.jpg" data-lightbox="oldham-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/oldham/school.jpg" data-lightbox="oldham-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/oldham/swim.jpg" data-lightbox="oldham-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/oldham/mermaids.jpg" data-lightbox="oldham-group" data-title=""}}
          </div>
      </div>
  </div>



  <p>Wesbite: <a href="http://www.juliaoldham.com/" target="_blank">http://www.juliaoldham.com/</a><br>
  Instagram: <a href="https://www.instagram.com/juliaoldham/" target="_blank">@juliaoldham</a></p>

<h3>Artist Bio</h3>
<p>Julia Oldham combines live action video with traditional animation to create narratives about science and nature. Raised by a physicist, an avid gardener and a pack of dogs in rural Maryland, her formative years were saturated with science and nature presented to her in a loving family setting. Her love affair with science burgeoned as she grew up and developed as an artist, and scientific curiosity emerged as a character in her work. She creates fantastical worlds by layering animated sequences and video footage, and through this process explores the far reaches of outer space and the deep seas, has dreamlike encounters with animated birds and coyotes, and finds the potential for romance in mathematical equations. Always featuring characters searching for the impossible (either animated or played by the artist herself), her videos are guided by longing and desire that is rarely requited, and is a reflection of the artist’s own impossible desires to understand the unknowable and communicate with animals. She employs imagery and storylines that develop from a combination of scientific research, dreams and obsessive reading.</p>

<p>Julia Oldham's work has been screened/exhibited at Art in General in New York, NY; MoMA PS1 in Long Island City, NY; the Portland Art Museum, Portland, OR; the San Diego Art Institute, San Digeo, CA; PPOW in New York, NY; The Drawing Center in New York, NY; The Bronx Museum of Art in the Bronx, NY; The Museum of Contemporary Art in Chicago, IL; Espaço3 in Lisbon, Portugal; the Peabody Essex Museum in Salem, MA; the Dia Foundation at the Hispanic Society in New York, NY; the Smithsonian Hirshhorn Museum in Washington, DC; and Nunnery Gallery in London, UK; and she was included in the 2016 Portland Biennial curated by Michelle Grabner. Her work has been supported by Artadia, the Fund for Art and Dialogue, New York, NY; Artist in the Marketplace at the Bronx Museum of Art, Bronx, NY; Art in General, New York, NY; the Lower Manhattan Cultural Council in New York, NY; Outpost Artist Resources in Ridgewood, NY; Artists in Residence in the Everglades, Miami, FL; Bernheim Arboretum and Research Forest, Clermont, KY; the Oregon Arts Commission in Portland, OR; and the City of Chicago Department of Cultural Affairs, Chicago, IL.
</p>
</div>
{{artist-page-nav}}

{{outlet}}
