<div class="artist-page">

  <h2>Milla Oliveira</h2>
  <p>{{#link-to 'venues'}}Flickerbox, Inc., PDX{{/link-to}}<br>
  February 15, 2018 - April 15, 2018<br></p>


<div class="artist-thumbs">
    <div class="row auto-clear">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
          {{light-box href="/assets/images/oliveira/moliveira01night.jpg" data-lightbox="oliveira-group" data-title="Night Harvest, Acrylic on paper, 30x32\""}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
          {{light-box href="/assets/images/oliveira/moliveira02.jpg" data-lightbox="oliveira-group" data-title="Leaving It Raw For As Long As It's True, Acrylic on paper, 14x17\""}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
          {{light-box href="/assets/images/oliveira/moliveira03.jpg" data-lightbox="oliveira-group" data-title="Lobster Tale (Johnny's Nightmare), Acrylic on paper, 14 x 17\""}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
          {{light-box href="/assets/images/oliveira/moliveira04.jpg" data-lightbox="oliveira-group" data-title="Whatever Happened to Negative Space, Acrylic on paper, 14 x 17\""}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
          {{light-box href="/assets/images/oliveira/moliveira05.jpg" data-lightbox="oliveira-group" data-title="C.R.E.A.M.Y., Acrylic on paper, 17x21\""}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
          {{light-box href="/assets/images/oliveira/moliveira06.jpg" data-lightbox="oliveira-group" data-title="With a Little More Courage (Lion Heart), Acrylic on paper, 40x72\""}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
          {{light-box href="/assets/images/oliveira/moliveira07guston.jpg" data-lightbox="oliveira-group" data-title="Everything I Know About Painting (After Philip Guston), Acrylic on paper, 72 x 80\""}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
          {{light-box href="/assets/images/oliveira/moliveira08.jpg" data-lightbox="oliveira-group" data-title="Fruta-do-Conde (Cultivation of Speech), Acrylic on paper, 48 x 72\""}}
        </div>
    </div>
</div>

<div class="row auto-clear">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h2>Artist Statement</h2>
    <p>There is a history I feel, but I don`t remember. I paint to stir those memories, to instigate them, and to give them form. My process often begins with gestural impulses. Like entering a sacred circle of dance in my native Brazil, the first gesture asks for permission. As in dance, my body is connected to movement that is historical, but in the moment of expression, that history is mine. </p>

    <p>Often, my mark-making takes the form of text or words. I wonder what is behind words, and where the impulse for language comes from. Having been exposed to different languages, religions, cultures and systems of truths, my paintings are a way to record my own truth, and to recover inherited wisdom. </p>

    <p>My process embraces different kinds of thinking without hesitation. Intuition, reasoning, and following what the hands do are some of the ways in which I find both reassurance and conflict in making. I utilize color, texture, layering, rhythm, a sensitivity to time, waiting, and I allow gravity to exhibit its power. Aesthetic choices are guided by a need to cultivate and absorb nourishment. The difference between the two is not always clear.</p>

    <p>The construction of the paintings is like the mixing of perfume, which is perceived attractive for its floral notes, but contains small doses of rot. Elements of flora and fauna enter the works as fragments. In forgoing their real-world specificity, they become tools for new propositions in how I relate to surrounding environments today. </p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h2>Biography</h2>
    <p>Milla Oliveira is an Oregon-based visual artist who explores the connections between language systems and their expressions through materials and the body. Originally from Rio de Janeiro, Oliveira has learned and taught in various institutions that ranged from traditional local dance practices in the streets to university classrooms. She received her BFA degree from Oregon State University and has participated in artist residencies at Chemeketa Community College and at the Hawk Creek Gallery. While at school, Oliveira worked as a classroom instructor with the Eugene-based arts integration project, ArtCore. In addition, she acted as assistant director of education for non-profit Watershed Arts, teaching classes to adult audiences that stimulated public awareness of and connection to contemporary art works. Oliveira currently facilitates private laboratories that promote active engagement with contemporary studio practices to individuals of ages six and up. More information about her practice and current projects can be found at <a href="http://www.millaoliveira.com" target="_blank">www.millaoliveira.com</a>.</p>
  </div>
</div>

      <p>Website: <a href="http://www.millaoliveira.com" target="_blank">www.millaoliveira.com</a></p>
</div>
{{artist-page-nav}}

{{outlet}}
