<div class="artist-page">

	<h2>Amanda Quiroz</h2>
	<p>{{#link-to 'venues'}}Flickerbox, Inc.{{/link-to}}<br>
	June 15, 2017 - August 15, 2017</p>


<div class="artist-thumbs">
    <div class="row auto-clear">
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{#light-box href="/assets/images/quiroz/beemouth1.png" data-lightbox="quiroz-group" data-title="Bee Mouth Parts I | graphite on Rives BFK | 6 x 6 2015"}}
			{{/light-box}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/quiroz/beemouth2.png" data-lightbox="quiroz-group" data-title="Bee Mouth Parts II | graphite on Rives BFK | 6 x 6 2015"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/quiroz/houseflycross.png" data-lightbox="quiroz-group" data-title="Housefly Cross-section | graphite on Rives BFK | 6 x 6 2015"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/quiroz/houseflyleg1.png" data-lightbox="quiroz-group" data-title="Housefly Leg I | graphite on Rives BFK | 6 x 6 2015"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/quiroz/houseflyleg2.png" data-lightbox="quiroz-group" data-title="Housefly Leg II | graphite on Rives BFK | 6 x 6 2015"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/quiroz/pollenleg1.png" data-lightbox="quiroz-group" data-title="Pollen Leg I | graphite on Rives BFK | 6 x 6 2015"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/quiroz/pollenleg2.png" data-lightbox="quiroz-group" data-title="Pollen Leg II | graphite on Rives BFK | 6 x 6 2015"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/quiroz/variousantenna.png" data-lightbox="quiroz-group" data-title="Various Antenna | graphite on Rives BFK | 6 x 6 2015"}}
      	</div>
    </div>
</div>





	<h3>Statement</h3>
	<p>Ever since the creation of the world, his invisible attributes of eternal power and divinity have been able to be understood and perceived in what he has made. Romans 1:20</p>

	<p>I draw the minutiae I find and collect in everyday interactions with nature; primarily, over-looked objects that are typically thought of as dust: dried seeds, dead insects, fallen feathers, strands of hair... I combine these small forms to scale within accumulated compositions using ethereal abstraction inspired by early photomicroscopy and astrophotography. I am stimulated by this subject matter philosophically, as it leads to theological conversations. Scientific illustration, Italian Renaissance art, along with Catholicism and divine phenomena all commingle in an undercurrent influencing my work. I’m drawn to harmonious parallels between the infinitesimal and the grandiose through my process.</p>

	<p>Drawing with finite exactitude, I use basic observation employing unaided eyesight and homemade microscopes. While I aim to record each specimen accurately, inevitably each rendered organic object becomes a shadow of a shadow. I translate the perfectly designed imperfectly. By attempting to capture each nuance, my sensitivity is heightened and my awe is deepened; my limitations are enlarged and my vulnerability is magnified. The minute comes into focus and I see the details signifying something greater and far more mysterious, sparking an inclination to reason from the visible to the invisible in an unfolding relationship.</p>

	<p>I specifically refer to insects as a constant subject within my work and see them in the same way C.S. Lewis has described them as "a dim shadow or symbol of the unceasing activity and creativeness of God." I draw them to grow in humility and highlight mortality as I am ever fascinated by the reality of the immortal soul. I seek to develop an ongoing visual vocabulary to speak with faith and reason as an instrument to pass on pinpoints of truth.
	</p>

	<p>Website: <a href="http://http://amandaquiroz.com/" target="_blank">http://amandaquiroz.com/</a>
	<br>Instagram <a href="http://instagram.com/illuminatedust" target="_blank">@illuminatedust</a></p>
</div>

{{artist-page-nav}}
{{outlet}}
