<div class="artist-page">

	<h2>Veronica Reeves</h2>
	<p>Bright Spots<br>
	September 2016<br>
	{{#link-to 'venues'}}Flickerbox, Inc.{{/link-to}}, Portland OR</p>

	<!-- <img src="/assets/images/reeves/breathingspace1024.jpg"> -->

	<div class="artist-thumbs">
	    <div class="row auto-clear">
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/reeves/alongtheriver.jpg" data-lightbox="reeves-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/reeves/aquasprites.jpg" data-lightbox="reeves-group" data-title="Aqua Sprites"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/reeves/atmosphericshore.jpg" data-lightbox="reeves-group" data-title="Atmospheric Shore"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/reeves/breathingspace.jpg" data-lightbox="reeves-group" data-title="Breathing Space"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/reeves/celestialspot.jpg" data-lightbox="reeves-group" data-title="Celestial Spot"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/reeves/crustaceanquest.jpg" data-lightbox="reeves-group" data-title="Crustacean Quest"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/reeves/glimpse.jpg" data-lightbox="reeves-group" data-title="Glimpse"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/reeves/glitter_alliteration.jpg" data-lightbox="reeves-group" data-title="Glitter Alliteration"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/reeves/horizongate.jpg" data-lightbox="reeves-group" data-title="Horizon Gate"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/reeves/lifelover.jpg" data-lightbox="reeves-group" data-title="Life Lover"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/reeves/light_gravity.jpg" data-lightbox="reeves-group" data-title="Light Gravity"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/reeves/middleofeverywhere.jpg" data-lightbox="reeves-group" data-title="Middle of Everywhere"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/reeves/mist_light.jpg" data-lightbox="reeves-group" data-title="Mist Light"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/reeves/nebulahomes.jpg" data-lightbox="reeves-group" data-title="Nebula Homes"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/reeves/othertide.jpg" data-lightbox="reeves-group" data-title="Other Tide"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/reeves/valleyvisit.jpg" data-lightbox="reeves-group" data-title="Vallery Visit"}}
	      	</div>
	    </div>
	</div>
	
	<h3>Bright Spots</h3>
	<p>An asteroid crash lands on a planet conducive to life. It is carrying proteins, seeds, spores, and data from another world that faced a cataclysmic event. Through layers of masking, spray paint, spills, and hand painting techniques, I visualize places of post-dystopian sanctuary. Pulling from aesthetics of digital games, visionary art, images of outer space, and earth processes, Bright Spots hints at fragments of new life slowly unfolding against the odds. As long as there is RNA, and DNA, it’ll be okay.</p>

	<p>Wesbite: <a href="http://www.v2r2please.com/">http://www.v2r2please.com/</a></p>

</div>
{{artist-page-nav}}

{{outlet}}
