<div class="artist-page">
	<h2>Alanna Risse</h2>
	<p>{{#link-to 'venues'}}Flickerbox, Inc., PDX{{/link-to}}<br>
	May, 2016</p>

	<!-- <img src="/assets/images/risse/fifthwheel1024.jpg"> -->

	<div class="artist-thumbs">
	    <div class="row auto-clear">
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/risse/dif.jpg" data-lightbox="risse-group" data-title="Taste the Dif | 10x10 | oil on canvas | 2016"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/risse/odalisque.jpg" data-lightbox="risse-group" data-title="Odalisque | 16x16 | Oil on Canvas | 2016"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/risse/freckles.jpg" data-lightbox="risse-group" data-title="Freckles | 10x10 | Oil on Canvas | 2016"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/risse/pie.jpg" data-lightbox="risse-group" data-title="Pie | 20x10 | Pastel on Paper | 2016"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/risse/spritzer.jpg" data-lightbox="risse-group" data-title="Spritzer | 20x10 | Pastel on Paper | 2016"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/risse/peelup.jpg" data-lightbox="risse-group" data-title="Don't Peel Up On Me"}}
	      	</div>
	    </div>
	</div>



	<h3>Art Manifesto</h3>
	<p>Let art be an experience. Free it from its frame, it’s pedestal. Shatter the glass that seals it off from the world. Let it absorb finger grease, get dropped, dinged, damaged. Give it life, let it into our lives. Put it in unexpected places. Share it, don’t squander it. Art doesn’t need anyone’s protection. Set it free.</p>


	<p>Website: <a href="http://alannarisse.com">AlannaRisse.com</a><br>
	Instagram: <a href="https://www.instagram.com/alannarisse/">@alannarisse</a></p>
</div>

{{artist-page-nav}}


{{outlet}}
