<div class="artist-page">
  <h2>Alanna Risse</h2>
  <p>Beautiful Beast<br>
  {{#link-to 'venues'}}Red Fox, 5128 N Albina, PDX{{/link-to}}<br>
  January, 2018</p>


    <div class="artist-thumbs">
      <div class="row auto-clear">
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/risse/beast08.jpg" data-lightbox="beast-group" data-title="Beautiful Beast"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/risse/beast03.jpg" data-lightbox="beast-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/risse/beast04.jpg" data-lightbox="beast-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/risse/beast05.jpg" data-lightbox="beast-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/risse/beast02.jpg" data-lightbox="beast-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/risse/beast06.jpg" data-lightbox="beast-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/risse/beast07.jpg" data-lightbox="beast-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/risse/beast01.jpg" data-lightbox="beast-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/risse/beast09.jpg" data-lightbox="beast-group" data-title=""}}
          </div>
      </div>
    </div>

    <div>
      <h2>Artist's Statement for Beautiful Beast:</h2>
      <p>Alanna Risse spent the better part of her childhood piling up the couch cushions on the living room floor in order to make a baracades to protect her from the Godzilla monsters on the TV screen who might at any moment transgress their media boundaries and try to attack her. Her regular diet also included: Jules Verne Novels, the TV Show: Land of the Lost, Jason and the Argonauts, TV exposés on Big Foot, UFOs and the Loch Ness Monster, and lots of readings of Moby Dick.</p>

      <p>Artist Website: <a href="http://alannarisse.com/" target="_blank">http://alannarisse.com/</a><br>
      Instagram: <a href="http://instagram.com/alannarisse" target="_blank">@alannarisse</a></p>
  </div>

<div style="padding-top:60px;"></div>
  <h2>Alanna Risse</h2>
  <p>Perseverate<br>
  {{#link-to 'venues'}}Flickerbox, Inc., PDX{{/link-to}}<br>
  January, 2018</p>
  <div class="artist-thumbs">
      <div class="row auto-clear">
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/risse/perseverate001.jpg" data-lightbox="perseverate-group" data-title="Perseverate"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/risse/perseverate01.jpg" data-lightbox="perseverate-group" data-title="Perseverate"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/risse/perseverate03.jpg" data-lightbox="perseverate-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/risse/perseverate04.jpg" data-lightbox="perseverate-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/risse/perseverate05.jpg" data-lightbox="perseverate-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/risse/perseverate02.jpg" data-lightbox="perseverate-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/risse/perseverate06.jpg" data-lightbox="perseverate-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/risse/perseverate07.jpg" data-lightbox="perseverate-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/risse/perseverate08.jpg" data-lightbox="perseverate-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/risse/perseverate09.jpg" data-lightbox="perseverate-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/risse/perseverate10.jpg" data-lightbox="perseverate-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/risse/perseverate11.jpg" data-lightbox="perseverate-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/risse/perseverate12.jpg" data-lightbox="perseverate-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/risse/perseverate13.jpg" data-lightbox="perseverate-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/risse/perseverate14.jpg" data-lightbox="perseverate-group" data-title=""}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/risse/perseverate15.jpg" data-lightbox="perseverate-group" data-title=""}}
          </div>
      </div>
    </div>
<h2>Artist's Statement for Perseverate:</h2>
<p>Many of these drawings were generated during my artist residency at Leiland Ironworks in October 2015. A couple of the pieces can be traced back much further. Others still were from a workshop with Anna Fidler at Sitka. This method of repetetive mark making is what my mind and hand tend to want to do when left to their own devices. Most of the time, I'm probably fighting against this urge -- trying to make something I deem is more "useful" to the world in some way. Seems a bit silly really. This series of work to me feels like my most self indulgent and diaristic work, so I don't often share it. But here we are.</p>

<div style="padding-top:60px;"></div>
<hr>

  	<h2>Past Exhibitions</h2>
	<p>What I Wouldn't Do<br>
	{{#link-to 'venues'}}Red Fox, PDX{{/link-to}}<br>
	July, 2017</p>


    <div class="artist-thumbs">
      <div class="row auto-clear">
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/risse/wiwddatenight.jpg" data-lightbox="risse-group" data-title="Date Night"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/risse/wiwddoublethefun.jpg" data-lightbox="risse-group" data-title="Double the Fun"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/risse/wiwdforbiddenfruit.jpg" data-lightbox="risse-group" data-title="Forbidden Fruit"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/risse/wiwdgrecoromanwrestling.jpg" data-lightbox="risse-group" data-title="Greco Roman Wrestling"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/risse/wiwdjustdesserts.jpg" data-lightbox="risse-group" data-title="Just Desserts"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        {{light-box href="/assets/images/risse/wiwdstartmeup.jpg" data-lightbox="risse-group" data-title="Start Me Up"}}
          </div>
      </div>
    </div>
    <div>
      <h2>Artist's Statement for What I Wouldn't Do:</h2>
			<p>This series is a collection of photographs taken of found items arranged into readymade assemblages of everyday grocery items. These objects were collected and temporarily assembled inside large chain stores around the Portland area. This body of work is a humorous investigation of sexual desire attempting to co-exist in the oftentimes hypo-sexual landscape of domesticity, child rearing, and marriage.</p>

			<h2>Artist Biography</h2>
			<p>Risse is the “Woman behind the curtain of Verge PDX. Her quest is to bring more art into more people’s lives by any means necessary. She is also a mom, web developer, and installation artist. She holds a Bachelor of Fine Arts in Painting/Drawing from California College of Arts and a Master of Fine Arts in Visual Studies from Pacific Northwest College of art.</p>

			<p>Artist Website: <a href="http://alannarisse.com/" target="_blank">http://alannarisse.com/</a><br>
			Instagram: <a href="http://instagram.com/alannarisse" target="_blank">@alannarisse</a></p>
  </div>



{{!-- Don't know how to get array items into the lightbox hb tag. looking into it.
{{#each model as |risseGallery|}}
<article id={{risseGallery.id}}>
{{risseGallery.title}} - {{risseGallery.dinensions}}
</article>
{{/each}}
<br>


<div class="artist-thumbs">
	    <div class="row auto-clear">
	    {{#each model as |risseGallery|}}
	      	<article class="col-xs-12 col-sm-4 col-md-3 col-lg-3" id={{risseGallery.id}}>
				{{light-box href="#" data-lightbox="risse-group" data-title="{{risseGallery.title}} | 10x10 | oil on canvas | 2016"}}
	      	</article>
	     {{/each}}
	    </div>
	</div>
--}}
<br><br><br><br>

	<div class="artist-thumbs">
	<p>Cavendish<br>
	{{#link-to 'venues'}}Flickerbox, Inc., PDX{{/link-to}}<br>
	May, 2016</p>
	    <div class="row auto-clear">
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/risse/dif.jpg" data-lightbox="risse-group" data-title="Taste the Dif | 10x10 | oil on canvas | 2016"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/risse/odalisque.jpg" data-lightbox="risse-group" data-title="Odalisque | 16x16 | Oil on Canvas | 2016"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/risse/freckles.jpg" data-lightbox="risse-group" data-title="Freckles | 10x10 | Oil on Canvas | 2016"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/risse/pie.jpg" data-lightbox="risse-group" data-title="Pie | 20x10 | Pastel on Paper | 2016"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/risse/spritzer.jpg" data-lightbox="risse-group" data-title="Spritzer | 20x10 | Pastel on Paper | 2016"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/risse/peelup.jpg" data-lightbox="risse-group" data-title="Don't Peel Up On Me"}}
	      	</div>
	    </div>
	</div>



	<h3>Art Manifesto</h3>
	<p>Let art be an experience. Free it from its frame, it’s pedestal. Shatter the glass that seals it off from the world. Let it absorb finger grease, get dropped, dinged, damaged. Give it life, let it into our lives. Put it in unexpected places. Share it, don’t squander it. Art doesn’t need anyone’s protection. Set it free.</p>


	<p>Website: <a href="http://alannarisse.com">AlannaRisse.com</a><br>
	Instagram: <a href="https://www.instagram.com/alannarisse/">@alannarisse</a></p>
</div>

{{artist-page-nav}}


{{outlet}}
