<div class="artist-page">
	<h2>Alexis Rittenhouse</h2>
	<p>{{#link-to 'venues'}}Red Fox{{/link-to}}<br>
  October 2017<br>
  5128 N Albina, Portland OR, 97217</p>


	<div class="artist-thumbs">
	    <div class="row auto-clear">
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/rittenhouse/blob01.jpg" data-lightbox="rittenhouse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/rittenhouse/blob02.jpg" data-lightbox="rittenhouse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/rittenhouse/blob03.jpg" data-lightbox="rittenhouse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/rittenhouse/blob04.jpg" data-lightbox="rittenhouse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/rittenhouse/blob05.jpg" data-lightbox="rittenhouse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/rittenhouse/blob06.jpg" data-lightbox="rittenhouse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/rittenhouse/blob07.jpg" data-lightbox="rittenhouse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/rittenhouse/blob08.jpg" data-lightbox="rittenhouse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/rittenhouse/blob09.jpg" data-lightbox="rittenhouse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/rittenhouse/blob10.jpg" data-lightbox="rittenhouse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/rittenhouse/blob11.jpg" data-lightbox="rittenhouse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/rittenhouse/blob12.jpg" data-lightbox="rittenhouse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/rittenhouse/blob13.jpg" data-lightbox="rittenhouse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/rittenhouse/blob14.jpg" data-lightbox="rittenhouse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/rittenhouse/blob15.jpg" data-lightbox="rittenhouse-group" data-title=""}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/rittenhouse/blob16.jpg" data-lightbox="rittenhouse-group" data-title=""}}
	      	</div>
	    </div>
	</div>

	<h3>Statement</h3>
<p>Alexis Rittenhouse is a sculptural artist residing in Portland Oregon. With this playful iteration of works, there is an exploration of spatial relationships, and isolated bodies of strangeness. Each item is a topographical mind map of a world yet to be discovered. Her work is continuously blobular and clumped, with an emphasis on the space between, and the “world within worlds” that is possible when examining groups on a specific surface. While sometimes reminiscent of sliming body parts, and sometimes of candies, take a close look and decide for yourself what it is that you see. </p>

	<p>Website: <a href="http://www.alexisrittenhouse.com/">http://www.alexisrittenhouse.com/</a><br>
	Instagram: <a href="http://instagram.com/alexisarah">@alexisarah</a></p>

</div>
{{artist-page-nav}}

{{outlet}}
