<div class="artist-page">

	<h2>Danielle Schlunegger-Warner</h2>
	<p>{{#link-to 'venues'}}The Red Fox{{/link-to}}<br>
	February 2017<br>
	Opening Reception: February 12th 7-10pm<br>
	5128 N Albina, Portland OR 97217</p>


<div class="artist-thumbs">
    <div class="row auto-clear">
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{#light-box href="/assets/images/schlunegger/blackbear1.jpg" data-lightbox="schlun-group" data-title="The Approach Of The Irrepressible Conflict"}}
			{{/light-box}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/schlunegger/blackbear3.jpg" data-lightbox="schlun-group" data-title="The Approach Of The Irrepressible Conflict"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/schlunegger/bobcat1.jpg" data-lightbox="schlun-group" data-title="Cave Bobcat"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/schlunegger/bobcat2.jpg" data-lightbox="schlun-group" data-title="Cave Bobcat"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/schlunegger/bobcat3.jpg" data-lightbox="schlun-group" data-title="Cave Bobcat"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/schlunegger/bobcat4.jpg" data-lightbox="schlun-group" data-title="Cave Bobcat"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/schlunegger/flatnose1.jpg" data-lightbox="schlun-group" data-title="Agricultural Imperialism and the Balance of Power"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/schlunegger/flatnose2.jpg" data-lightbox="schlun-group" data-title="Agricultural Imperialism and the Balance of Power"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/schlunegger/flatnose3.jpg" data-lightbox="schlun-group" data-title="Agricultural Imperialism and the Balance of Power"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/schlunegger/grizzly1.jpg" data-lightbox="schlun-group" data-title="Westward to the Pacific"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/schlunegger/grizzly2.jpg" data-lightbox="schlun-group" data-title="Westward to the Pacific"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/schlunegger/grizzly3.jpg" data-lightbox="schlun-group" data-title="Westward to the Pacific"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/schlunegger/grizzly4.jpg" data-lightbox="schlun-group" data-title="Westward to the Pacific"}}
      	</div>
      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
			{{light-box href="/assets/images/schlunegger/rfinstall1024.jpg" data-lightbox="schlun-group" data-title="Red Fox Installation View"}}
      	</div>
    </div>
</div>









	<img src="">

	<h3>Statement</h3>
	<p>Danielle Schlunegger-Warner grew up amongst the shell shops and sand dunes of Ventura, CA. Her artwork is strongly influenced by 18th century Cabinets of Curiosity and early explorers.</p>

	<p>Inspired by natural history and the museums that house it, Danielle creates her own worlds within this established context. Her new work presents a vision of exploration and conquest during the Age of Imperialism in the Americas, searching for the elusive and misguided promise of truly untouched lands from the perspective of naturalists, who are themselves invaders.</p>

	<p>Graduating with a BFA from California College of Arts in 2010 with distinction, Danielle received the All College Honors award for her work on The Marcus Kelli Collection and was awarded the 2014 Affiliate Artist Award From the Headlands Center for the Arts in Marin, CA. Danielle currently and lives and works from her home studio in Portland, Oregon and writes remotely for <a href="http://www.venisonmagazine.com/" target="_blank">Venison </a>Magazine.</p>

	<p>Website: <a href="http://schlunegger.com/">http://schlunegger.com/</a>
	<br>Instagram &amp; Twitter @naturalistandco</p>
</div>

{{artist-page-nav}}
{{outlet}}
