<div class="artist-page">

	<h2>Harry Schneider</h2>
	<p>{{#link-to 'venues'}}Flickerbox, Inc., PDX{{/link-to}}<br>
		August 15 - Oct 15, 2017</p>

	<div class="artist-thumbs">
	    <div class="row auto-clear">
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/schneider/intaglio025.jpg" data-lightbox="schneider-group" data-title="Intaglio 25"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/schneider/intaglio026.jpg" data-lightbox="schneider-group" data-title="Intaglio 26"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/schneider/intaglio027.jpg" data-lightbox="schneider-group" data-title="Intaglio 27"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/schneider/intaglio028.jpg" data-lightbox="schneider-group" data-title="Intaglio 28"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/schneider/intaglio029.jpg" data-lightbox="schneider-group" data-title="Intaglio 29"}}
	      	</div>
	    </div>
	</div>
</div>
<!-- <h2>Artist Statement</h2> -->
<br/>
<p>Instagram: <a href="https://www.instagram.com/mightyfineprint/" target="_blank">@mightyfineprint</a><br/>
Website: <a href="http://harryschneider.blogspot.com/" target="_blank">http://harryschneider.blogspot.com/</a></p>

<br>

{{artist-page-nav}}

{{outlet}}
