<div class="artist-page">

	<h2>Harry Schneider and Kindler von Knobloch</h2>
	<p>{{#link-to 'venues'}}Flickerbox, Inc., PDX{{/link-to}}<br>
		August 15 - Oct 15, 2017</p>

	<div class="artist-thumbs">
	    <div class="row auto-clear">
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/schneider/chairsnake.jpg" data-lightbox="schneider-group" data-title="Intaglio 25"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/schneider/diags.jpg" data-lightbox="schneider-group" data-title="Intaglio 27"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/schneider/landface.jpg" data-lightbox="schneider-group" data-title="Intaglio 28"}}
	      	</div>
	      	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
				{{light-box href="/assets/images/schneider/money.jpg" data-lightbox="schneider-group" data-title="Intaglio 29"}}
	      	</div>
	    </div>
	</div>
</div>
<!-- <h2>Artist Statement</h2> -->
<br/>
<p>Instagram: <a href="https://www.instagram.com/mightyfineprint/" target="_blank">@mightyfineprint</a><br/>
Harry's Website: <a href="http://mightyfineprintshop.com/" target="_blank">mightyfineprintshop.com</a><br/>
Andreas' Website <a href="http://andreaskvk.com/" target="_blank">AndreasKvK</a></p>

<br>

{{artist-page-nav}}

{{outlet}}
