<div class="artist-page">

  <h2>Rhonda Vanover</h2>
  <p>{{#link-to 'venues'}}Flickerbox, Inc., PDX{{/link-to}}<br>
    Oct 15 - Dec 15, 2017</p>

  <div class="artist-thumbs">
      <div class="row auto-clear">
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/vanover/cervispilos.jpg" data-lightbox="vanover-group" data-title="Cervis Pilos"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/vanover/cornibus.jpg" data-lightbox="vanover-group" data-title="Cornibus"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/vanover/pilorum.jpg" data-lightbox="vanover-group" data-title="Pilorum"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/vanover/bluebird.jpg" data-lightbox="vanover-group" data-title="Vanover #8"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/vanover/darkbird.jpg" data-lightbox="vanover-group" data-title="Dark Bird"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/vanover/birdyellow.jpg" data-lightbox="vanover-group" data-title="Bird Yellow"}}
          </div>
      </div>
  </div>
</div>
<h2>Artist Statement</h2>
<p>My focus is on the provocative, a biographical documentary about death and dying.</p>
<p>Combining photographs and installation techniques I seek to create an unresolved tension between presence of object and absence of being. I am intrigued by the mundane and the unusual. How object and body are defined. I look at the everyday life that goes by, eventually ending in our own mortality.</p>
<p>My interest is to persuade the viewer into this act of looking. To see the essence of what is left behind, oscilating between the real and the memorial.</p>
<p>These photographs present a sumblime finish to what has been taken away My mark making invites the viewer to see what I see: beauty at its end. My photographs, while not inviting in the conventional sense, are an invitation nonetheless.</p>
<p>These intentioally disorienting, introspective, and visceral pieces continue the questions I always seek to ask.</p>

<br/>
<p>Instagram: <a href="https://www.instagram.com/rhondavanover/" target="_blank">@mightyfineprint</a><br/>
Website: <a href="http://www.rhondavanover.com/" target="_blank">rhondavanover.com</a></p>

<br>







{{artist-page-nav}}

{{outlet}}
