<div class="artist-page">

  <h2>Rhonda Vanover</h2>
  <p>{{#link-to 'venues'}}Flickerbox, Inc., PDX{{/link-to}}<br>
    Oct 15 - Dec 15, 2017</p>

  <div class="artist-thumbs">
      <div class="row auto-clear">
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/vanover/herba.jpg" data-lightbox="vanover-group" data-title="Herba"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/vanover/cervispilos.jpg" data-lightbox="vanover-group" data-title="Cervis Pilos"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/vanover/ossa.jpg" data-lightbox="vanover-group" data-title="Ossa"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/vanover/bird_letter.jpg" data-lightbox="vanover-group" data-title="Bird Letter"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/vanover/fleetingfrozen.jpg" data-lightbox="vanover-group" data-title="Fleeting Frozen"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/vanover/cornibus.jpg" data-lightbox="vanover-group" data-title="Cornibus"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/vanover/pilorum.jpg" data-lightbox="vanover-group" data-title="Pilorum"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/vanover/grave.jpg" data-lightbox="vanover-group" data-title="Grave"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/vanover/grave2.jpg" data-lightbox="vanover-group" data-title="Grave #2"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/vanover/dianthus.jpg" data-lightbox="vanover-group" data-title="Dianthus"}}
          </div>
      </div>
  </div>
</div>
<h2>Artist Statement</h2>

<p>Just as a photogram captures the shadow of an object once present and now removed, Rhonda Vanover’s images grasp at the mortal tensions between contact and loss, apparition and aberration, object and spectre. Her photographic and darkroom processes slow time to lay bare single moments for unsentimental scrutiny, tracing the iridescent shimmer of a dark feather, the gristle of an old bone found in the woods, or the smudge of dust on the edge of a fractured glass negative. The resulting images feel at once intimate, sparse, and strange-- a tangled synesthetic experience where touch and smell and taste and sound become visible. Looking at Vanover’s images one becomes conscious and appreciative of the impermanence of everything—of bones, of glass, and even of photographic paper itself. </p>
 
<p>Rhonda Vanover is an assistant professor of photography at Ithaca College.</p>



<br/>
<p>Instagram: <a href="https://www.instagram.com/rhondavanover/" target="_blank">@rhondavanover</a><br/>
Website: <a href="http://www.rhondavanover.com/" target="_blank">rhondavanover.com</a></p>

<br>

<!--
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/vanover/bluebird.jpg" data-lightbox="vanover-group" data-title="Vanover #8"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/vanover/darkbird.jpg" data-lightbox="vanover-group" data-title="Dark Bird"}}
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
            {{light-box href="/assets/images/vanover/birdyellow.jpg" data-lightbox="vanover-group" data-title="Bird Yellow"}}
          </div>
-->





{{artist-page-nav}}

{{outlet}}
