<div class="artist-page">

	<h2>Epochal Void</h2>
	<p>{{#link-to 'venues'}}Akemi Salon, 3808 N Williams, Suite D, PDX{{/link-to}}<br>
	January - March 2018<br></p>

<div class="artist-thumbs">
    <div class="row auto-clear">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/void/evoid01.jpg" data-lightbox="void2-group" data-title="Specimens2"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/void/evoid04.jpg" data-lightbox="void2-group" data-title="Specimens2"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/void/evoid05.jpg" data-lightbox="void2-group" data-title="Specimens2"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/void/evoid06.jpg" data-lightbox="void2-group" data-title="Specimens2"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/void/evoid02.jpg" data-lightbox="void2-group" data-title="Specimens2"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/void/evoid03.jpg" data-lightbox="void2-group" data-title="Specimens2"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/void/evoid07.jpg" data-lightbox="void2-group" data-title="Specimens2"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/void/evoid10.jpg" data-lightbox="void2-group" data-title="Specimens2"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/void/evoid09.jpg" data-lightbox="void2-group" data-title="Specimens2"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/void/evoid08.jpg" data-lightbox="void2-group" data-title="Specimens2"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/void/evoid11.jpg" data-lightbox="void2-group" data-title="Specimens2"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/void/evoid12.jpg" data-lightbox="void2-group" data-title="Specimens2"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/void/evoid13.jpg" data-lightbox="void2-group" data-title="Specimens2"}}
        </div>
    </div>
</div>



	<h3>Statement</h3>

	<p>The word epochal describes a highly significant and influential moment in time, one capable of ushering in a new age.  The void is a space without form.  It exists between emptiness and content, a state of pure potential.  The name Epochal Void comes from a dream.  It is a relationship between time and space that does not identify with a particular gender, race, or socioeconomic class, and thus, may move freely, always in flux, constantly becoming.</p>

	<h3>About The Artist</h3>

	<p>Noelle Suzanne Barce is a Portland-based visual artist who has been making art under the moniker Epochal Void for the past ten years.  Specializing in conceptual drawing, fine art printmaking, mixed media art, paper sculpture, lettering and colláge, Barce creates bodies of work which explore concepts of impermanence, betweenness, as well as social & spiritual bondage.  Her process of making is a gesture of freedom, of liberation from the constraint of measurement, definition and expectation. In the fall of 2016, Barce founded TRUST ART COLLECTIVE, an independent, artist-run organization that produces group exhibitions and creative gatherings. She lives and works in the Alberta district of Portland, Oregon.</p>

	<p><a href="http://epochalvoid.com" target="_blank">epochalvoid.com</a><br>
    <a href="http://trustcollective.net" target="_blank">trustcollective.net</a><br>
	Follow <a href="http://instagram.com/epochalvoid" target="_blank">@epochalvoid</a> | <a href="http://instagram.com/trust_collective" target="_blank">@trust_collective</a> | <a href="http://instagram.com/drawspacepdx" target="_blank">@drawspacepdx</a> on Instagram<br>
	epochal.press@gmail.com<br></p>

<div style="padding-top:60px;"></div>

<h2>Past Exhibition at Flickerbox March 2017</h2>

<div class="artist-thumbs">
    <div class="row auto-clear">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/void/specimens1.jpg" data-lightbox="void-group" data-title="Specimens"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/void/specimens2.jpg" data-lightbox="void-group" data-title="Specimens"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/void/specimens3.jpg" data-lightbox="void-group" data-title="Specimens"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/void/specimens4.jpg" data-lightbox="void-group" data-title="Specimens"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/void/specimens5.jpg" data-lightbox="void-group" data-title="Specimens"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/void/specimens6.jpg" data-lightbox="void-group" data-title="Specimens"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/void/dyptic1024.jpg" data-lightbox="void-group" data-title="Specimens"}}
        </div>
    </div>
</div>





</div>


{{artist-page-nav}}

{{outlet}}
