<div class="artist-page">

  <h2>Mary Weisenburger</h2>
  <p>{{#link-to 'venues'}}Flickerbox, Inc., PDX{{/link-to}}<br>
  April 15, 2018 - June 15, 2018<br></p>


<div class="artist-thumbs">
    <div class="row auto-clear">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/weisenburger/mweisenburger2.png" data-lightbox="weisenburger-group" data-title="weisenburger"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/weisenburger/mweisenburger07.jpg" data-lightbox="weisenburger-group" data-title="weisenburger"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/weisenburger/mweisenburger08.jpg" data-lightbox="weisenburger-group" data-title="weisenburger"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/weisenburger/mweisenburger10.jpg" data-lightbox="weisenburger-group" data-title="weisenburger"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/weisenburger/mweisenburger14.jpg" data-lightbox="weisenburger-group" data-title="weisenburger"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/weisenburger/nevercoffee13.jpg" data-lightbox="weisenburger-group" data-title="weisenburger"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/weisenburger/nevercoffee17.jpg" data-lightbox="weisenburger-group" data-title="weisenburger"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/weisenburger/nevercoffee18.jpg" data-lightbox="weisenburger-group" data-title="weisenburger"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/weisenburger/topographic_tints.jpg" data-lightbox="weisenburger-group" data-title="weisenburger"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/weisenburger/topotint.jpg" data-lightbox="weisenburger-group" data-title="weisenburger"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/weisenburger/painting2.jpg" data-lightbox="weisenburger-group" data-title="weisenburger"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/weisenburger/monotype1.jpg" data-lightbox="weisenburger-group" data-title="weisenburger"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/weisenburger/monotype2.jpg" data-lightbox="weisenburger-group" data-title="weisenburger"}}
        </div>
    </div>
</div>


<h2>Artist Statement</h2>
<p>My paintings generate from a desire to create something of lasting beauty. They are metaphors for the life we are living, reflections on color, abstraction and the spaces in between - intersections of alternate realities. </p>

<p>Color is both fluid and tangible - color lends the ability to draw meaningful relationships within forms. Color elements inject the emotions into the geometry of my imaginary spaces. Color and space are my main aesthetic devices: they are the tools that I use to promote serendipity, liberating me to form the romantic, compositional disasters that are my paintings. </p>

<h2>Bio</h2>
<p>Mary Weisenburger is originally from Spokane, Washington and relocated to Oregon in the fall of 2011 to pursue her BFA in oil painting at Pacific Northwest College of Art.</p>

<p>She currently lives and works in Portland, Oregon creating new paintings out of a historic building in the NE industrial neighborhood. She also works as a Product Specialist for Gamblin Artists Colors. Her weekly interactions within the color factory feed her fascination with color. Her main focus now is color interaction within oil painting, monotype printmaking and the unique characteristics of modern organic synthetic pigments.</p>

  <p><a href="http://Marsjoyofpainting.com">Marsjoyofpainting.com</a></p>
</div>
{{artist-page-nav}}

{{outlet}}
