<div class="artist-page">

  <h2>Rachel Wolf</h2>
  <p>{{#link-to 'venues'}}Akasu Hair Studio and Spa, PDX{{/link-to}}<br>
  February - April, 2018<br></p>


<div class="artist-thumbs">
    <div class="row auto-clear">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/wolf/alchemy_09.jpg" data-lightbox="wolf-group" data-title="Alchemy #9"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/wolf/alchemy_40.jpg" data-lightbox="wolf-group" data-title="Alchemy #40"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/wolf/alchemy_59.jpg" data-lightbox="wolf-group" data-title="Alchemy #59"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/wolf/alchemy_64.jpg" data-lightbox="wolf-group" data-title="Alchemy #64"}}
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      {{light-box href="/assets/images/wolf/alchemy_72.jpg" data-lightbox="wolf-group" data-title="Alchemy #72"}}
        </div>

    </div>
</div>


<h2>Artist Statement</h2>
<p>The alchemists believed in transmutation: changing a thing from one state into another, higher form. This transmutative elevation is achieved through color and chemical action. This cycle of photographs, entitled Alchemy was created by directly exposing photographic paper with light and chemicals. These basic elements, actually the invisible tools of analogue photography, are made here into the tangible photographic subject itself. Taking the camera away from photography doesn’t remove the possibility for an image, instead it provides space for proposing images for an un-lensed, visual world. You are invited to engage in an unconventional relationship with photography, to surrender preconceived notions of what a photograph is, must or can be. This work is not a representation of something else in the world, it is that something else in the world.</p>

<h2>Biography</h2>
<p>Rachel Wolf specializes in camera-less photography, alternative/ antique processes, and immersive environments through light-based installations. Rachel exhibits her work nationally, and is an educator and speaker in the field. Originally from Anchorage, Alaska, Rachel earned her BA from Hampshire College and her MFA from Pacific Northwest College of Art. Rachel currently resides in Portland, OR.</p>

<p>website: <a href="http://rachelwolf.com" target="_blank">rachelwolf.com</a><br>
facebook: <a href="http://facebook.com/rachelwolf" target="_blank">rachelwolf</a><br>
instagram: <a href="http://instagram.com/rachelwolfstudio" target="_blank">rachelwolfstudio</a>
</p>


</div>
{{artist-page-nav}}

{{outlet}}
